.header__wrapper {
  background-color: $red;
  width: 100%;
  height: 80px;
  margin-bottom: 50px;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  .header__column {
    i {
      color: white;
      font-size: 50px;
    }
    &:nth-child(2) {
      width: 100%;
      justify-content: center;
      input {
        width: 100%;
      }
    }
    ul {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      color: white;
      font-weight: bold;
      font-size: 18px;

      li:not(:last-child) {
        margin-right: 14px;
      }
    }
  }
}
