.social-login {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  span {
    margin-right: 10px;
    i {
      font-size: 18px;
    }
  }
  .social-login--github {
    background-color: $black;
    margin-bottom: 10px;
    * {
      color: white;
    }
  }
  .social-login--kakao {
    background-color: #ffd900;
    * {
      color: rgb(68, 44, 0);
    }
  }
}
