.video-detail__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .videoPlayer {
    width: 800px;
    height: 450px;
    margin-bottom: 20px;
  }
  video {
    max-width: 100%;
    max-height: 100%;
  }
  .video__title,
  .video__views,
  .video__description {
    display: block;
    margin-bottom: 10px;
  }
  .video__info {
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    button {
      margin: 20px 0;
    }
  }
  .video__comments {
    margin-top: 30px;
  }
  .video__title {
    font-weight: 400;
    font-size: 28px;
  }
  .video__views {
    font-size: 15px;
  }
  .video__description,
  .video__comment-number {
    font-size: 19px;
  }
}
.video__author {
  a {
    color: #3498db;
  }
}
